@import "tailwindcss";

/* 🌈 Modern Scrollbar Style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4f46e5, #3b82f6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4338ca, #2563eb);
}

html, body {
  -webkit-text-size-adjust: 100% !important;
  touch-action: manipulation;
  zoom: 1 !important;
  overflow-x: hidden;
}

@supports (-webkit-touch-callout: none) {
  body {
    transform: scale(0.97);
    transform-origin: top center;
  }
}
